{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/snacks/snack-detail.css' %}"
/>
<script defer src="{% static 'js/snack-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="snack-container">
  <div class="snack-img">
    <img 
      src="{% static 'images/chip.svg' %}" 
      alt="A chip"
    >
  </div>
  <div class="snack-details">
    <h1>{{ snack.name }}</h1>
    <p>{{snack.type}}</p>
    <p>{{ snack.description }}</p>
    <div class="snack-actions">
      <a href="{% url 'snacks_update' snack.id %}" class="btn warn">Edit</a>
      <a href="{% url 'snacks_delete' snack.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="purchases-variation-container">
  <section class="purchases">
    <div class="subsection-title">
      <h2>Purchases</h2>
    </div>
    <h3>Add a Purchase</h3>
    <form
      action="{% url 'add_purchase' snack.id %}"
      method="post" 
      class="subsection-content"
    >
    {% if snack.purchased_in_month %}
      <p class="purchased">You bought {{snack.name}} in the last 30 days!</p>
    {% else %}
      <p class="not-purchased">{{snack.name}} have not been purchased in the last 30 days!</p>
    {% endif %}
      {% csrf_token %}
      {{ purchase_form.as_p }}
      <button type="submit" class="btn submit">Add Purchase</button>
    </form>
    <h3>Past Purchases</h3>
    {% if snack.purchase_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Location</th></tr>
      </thead>
      <tbody>
        {% for purchase in snack.purchase_set.all %}
          <tr>
            <td>{{purchase.purchase_date}}</td>
            <td>{{purchase.store_name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>{{snack.name}} have no purchases</p>
    </div>
    {% endif %}
  </section>
  <section class="dishes">
    <div class="subsection-title">
      <h2>Dishes</h2>
    </div>
    <h3>{{ snack.name }}'s Dishes</h3>
    <div class="subsection-content">
      {% if snack.dishes.count %}
        {% for dish in snack.dishes.all %}
          <div class="dish-container">
            <div 
              class="color-block"
            ></div>
            <a href="{% url 'dishes_detail' dish.id %}">
              <p>{{ dish.dish_name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-dishes">{{snack.name}} doesn't have any dishes</p>
      {% endif %}
    </div>
    <h3>Available Dishes</h3>
    <div class="subsection-content">
      {% if dishes.count %}
        {% for dish in dishes.all %}
          <div class="dish-container">
            <div 
              class="color-block"
            ></div>
            <a href="{% url 'dishes_detail' dish.id %}">
              <p>{{ dish.dish_name }}</p>
            </a>
            <form action="{% url 'assoc_dish' snack.id dish.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add Dish</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-dishes">
          {{snack.name}} already has all the available dishes
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}